@model EditReservationViewModel

@{ ViewBag.Title = "Edit reservation";


    List<SelectListItem> hours = new List<SelectListItem>();
    for (var i = ViewBag.OpenHour; i <= 24; i++)
    {
        hours.Add(new SelectListItem() { Text = i.ToString(), Value = i.ToString() });
    }



    DateTime now = DateTime.Now;
    string MinDate = null;
    if (now.Month.ToString().Length.Equals(1))
    {
        if (now.Day.ToString().Length.Equals(1))
        {
            MinDate = now.Year + "-0" + now.Month + "-0" + now.Day;

        }
        else
        {
            MinDate = now.Year + "-0" + now.Month + "-" + now.Day;
        }

    }
    else
    {
        if (now.Day.ToString().Length.Equals(1))
        {
            MinDate = now.Year + "-" + now.Month + "-0" + now.Day;

        }
        else
        {
            MinDate = now.Year + "-" + now.Month + "-" + now.Day;

        }


    }
}





@if (ViewBag.SeatsLeft < 12 && ViewBag.SeatsLeft > 1)
{
    <h3 style="color:whitesmoke">Only @ViewBag.SeatsLeft  seats left !</h3>
}
else if (ViewBag.SeatsLeft == 1)
{
    <h3 style="color:white">Only @ViewBag.SeatsLeft  seat left</h3>
}







<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="contact-form text-center">
                <div class="section-title">
                    <h2 style="color:wheat">Edit a Reservation at @ViewBag.ReservationAt</h2>
                    <p style="color:wheat">Opening Hour @ViewBag.open AM - @ViewBag.close PM every day on week.</p>
                </div>
                <form asp-controller="home" asp-action="EditReservation" method="post" role="form" id="contactForm" data-toggle="validator" class="row shake">
                    <input hidden asp-for="Id" />
                    <input hidden asp-for="Restaurant" />
                    <div class="col-sm-3">

                        <input asp-for="NrPers" class="form-control" >
                        <span asp-validation-for="NrPers" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <select asp-for="HourComing" value="" placeholder="Time" class="form-control"
                                asp-items="@hours">
                            <option value="">Time</option>
                        </select>
                        <span asp-validation-for="HourComing" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="Date" class="form-control"  type="date" min="@MinDate">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                    <div class="col-sm-3">
                        <input asp-for="VoucherCode" class="form-control"  placeholder="VoucherCode" type="text" maxlength="7">
                        <span asp-validation-for="VoucherCode" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12 justify-content-center">
                       
                            <button type="submit" class="btn btn-common">Update</button>
                            <a class="btn btn-common" asp-controller="home" asp-action="YourReservations">Cancel</a>
                       
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>