@model RestaurantDetailsViewModel
@inject IStoreRepository repository
@inject UserManager<ApplicationUser> userManager;
@{
    var photoPath = "../../images/" + (Model.Restaurant.PhotoPath ?? "noimage.jpg");
    var sumRates = 0;
    var NumberOfRates = Model.RestaurantRatings.Count();
}

<h1 class=" row justify-content-center" style="color:white; text-decoration:solid; text-transform:uppercase">@Model.Restaurant.RestaurantName </h1>


<div class="container" style="color:white">

    <!-- Page Section Start -->
    <div class="page-container blog">
        <div class="container">
            <div class="row">
                <!-- Left Sidebar -->
                <div class="col-md-9 col-sm-12 col-sx-12 lift-sidebar clearfix">
                    <div class="blog-post">

                        <div class="post">
                            <div class="post-img">
                                <img class="imageCustom" src=@photoPath style=" width:100%; height:100%" />
                            </div>
                            <div class="post-content">
                                <h3><a style="color:darkorange" href="#">@Model.Restaurant.RestaurantName</a></h3>
                                <ul class="list">
                                    <li><span>Program:</span><a style="color:darkorange" href="#"> @Model.Restaurant.openHour- @Model.Restaurant.closingHour</a></li>
                                    <li><span>Capacity:</span><a style="color:darkorange" href="#"> @Model.Restaurant.nrPersMax</a></li>
                                </ul>
                                <div class="post-desc">
                                    <p>
                                        @Model.Restaurant.Description
                                    </p>

                                </div>
                                <div>
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">

                                            @for (int i = 0; i < Model.Gallery.Count(); i++)
                                            {
                                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active" : "") "></li>
                                            }
                                        </ol>
                                        <div class="carousel-inner">
                                            @for (int i = 0; i < Model.Gallery.Count(); i++)
                                            {
                                                <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                                                    <img class="GallerySlide d-block w-100" src="~/images/@Model.Gallery[i].URL" alt="@Model.Gallery[i].Name" style="width:200px; height:400px">
                                                </div>
                                            }

                                        </div>

                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="col-md-3 col-sm-12 col-xs-12 right-sidebar">

                    <div class="widget recent">
                        <h5 class="widget-title" style="justify-content:center; text-transform:uppercase">Info</h5>
                        <br />
                        <ul class="posts-list">
                            <li>

                                <div class="widget-content">
                                    <a style="color:white; text-transform:uppercase">Contact: </a>
                                    <span style="color:white">@Model.Restaurant.PhoneNo</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>

                                <div class="widget-content" style="color:white">
                                    <a style="text-transform:uppercase">Rating: </a>
                                    <span>@ViewData["FinalRate"]</span>
                                </div>

                            </li>

                            <li>
                                <div class="widget-thumb">
                                    <div class="container d-flex justify-content-center mt-1 ml-0">
                                        <div class="row">
                                            <div class="col-md-12" style="padding:0px">
                                                @if (ViewBag.hasReservation)
                                                {
                                                    <div class="stars">
                                                        @using (Html.BeginForm("RestaurantDetails", "Home", FormMethod.Post))
                                                        {

                                                            <input class="star star-5" id="star-5" type="radio" name="submit" value="5" />
                                                            <label id="label5" class="star star-5" for="star-5"></label>
                                                            <input class="star star-4" id="star-4" type="radio" name="submit" value="4" />
                                                            <label id="label4" class="star star-4" for="star-4"></label>
                                                            <input class="star star-3" id="star-3" type="radio" name="submit" value="3" />
                                                            <label id="label3" class="star star-3" for="star-3"></label>
                                                            <input class="star star-2" id="star-2" type="radio" name="submit" value="2" />
                                                            <label id="label2" class="star star-2" for="star-2"></label>
                                                            <input class="star star-1" id="star-1" type="radio" name="submit" value="1" />
                                                            <label id="label1" class="star star-1" for="star-1"></label>

                                                            // /Home

                                                            <button type="submit" id="btnRate" class="btn btn-common">Send rate</button>
                                                        }


                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="stars">
                                                        @using (Html.BeginForm("RestaurantDetails", "Home", FormMethod.Post))
                                                        {

                                                            <input class="star star-5" id="star-5" type="radio" name="submit" value="5" />
                                                            <label id="label5" class="star star-5" for="star-5"></label>
                                                            <input class="star star-4" id="star-4" type="radio" name="submit" value="4" />
                                                            <label id="label4" class="star star-4" for="star-4"></label>
                                                            <input class="star star-3" id="star-3" type="radio" name="submit" value="3" />
                                                            <label id="label3" class="star star-3" for="star-3"></label>
                                                            <input class="star star-2" id="star-2" type="radio" name="submit" value="2" />
                                                            <label id="label2" class="star star-2" for="star-2"></label>
                                                            <input class="star star-1" id="star-1" type="radio" name="submit" value="1" />
                                                            <label id="label1" class="star star-1" for="star-1"></label>

                                                            <button type="submit" id="btnRate" class="btn btn-common tooltip" disabled title="You don't have any previous reservation here">Send rate</button>
                                                        }


                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div id="map" style="height:230px; width:300px">

                                </div>
                            </li>

                        </ul>
                        @if (Model.Restaurant.EmptySeats.Equals(0))
                        {
                            <span> Fully booked </span>
                        }
                        else
                        {
                            <a asp-controller="home" asp-action="addBooking" asp-route-id="@Model.Restaurant.RestaurantID" class="btn btn-common m-1">Book a table</a>
                        }

                    </div>



                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>

        var latitude = parseFloat("@Model.Restaurant.Latitude");
        var longitude = parseFloat("@Model.Restaurant.Longitude");
        var map;

        function initMap() {
            var markedPlace = { lat: latitude, lng: longitude };
        map = new google.maps.Map(document.getElementById('map'), {
            center: markedPlace,
            zoom: 20
        }
        );
        //const marker = new google.maps.Marker({
        //    position: markedPlace,
        //    map: map,
        //});
        }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@(ViewData["MyKeyMaps"])&callback=initMap"
            async defer></script>
}