@*@model IEnumerable<Reservation>*@
@model YourReservationsViewModel
@inject SignInManager<ApplicationUser> signInManager;

@{
    var currentHour = ViewBag.CurrentHour;
    DateTime currentDate = ViewBag.CurrentDate;
   
}

<div class="containerRest row">

    <h1 class="heading">Your reservations</h1>
    <h3 class="col-md-12 description" style="color:white; height:120px">Thank you for choosing us! You can se all your reservations here...</h3>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Premium-User"))
    {
        <div class="row"> <h1 style="color:white">Premium</h1></div>
    }
    @*<h3 class="col-md-6" style="color:white; height:120px">Thank you for choosing us! You can se all your reservations here...</h3>*@

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Premium-User"))
    {

        <div class="container d-flex justify-content-center col-md-6">
            <div class="row">
                <div class="col-md-6"> <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal"><i class="fa-solid fa-crown fa-2xl"></i></button> </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="card">
                    <div class="text-right cross"> <i class="fa fa-times"></i> </div>
                    <div class="card-body text-center">
                        <img src="https://img.icons8.com/external-microdots-premium-microdot-graphic/100/000000/external-crown-business-finance-vol4-microdots-premium-microdot-graphic.png" />

                        <h4 style="color:black">CONGRATULATIONS!</h4>
                        <hr />
                        <p style="color:black; margin:0px; padding:0px">Your account has been upgraded to <b>Premium</b>! You have been a loyal client of Flash Table and now you have access to some Premium features. Come back here everyday to see your offers, but hurry up, they won't last too long!</p>

                        @*<div class="container-fluid">*@
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>TODAY'S OFFERS</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="col-xs-3 5"> </div>
                                    <div class="quiz" id="quiz" data-toggle="buttons">
                                        <label class="element-animation1 btn btn-lg btn-common btn-block" onclick="showHide('firstCode')"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>@ViewBag.listFeatures[0]</label>
                                        <p id="firstCode" style="display:none;">@ViewBag.listCodes[0]</p>
                                        <label class="element-animation2 btn btn-lg btn-common btn-block" onclick="showHide('secondCode')"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> @ViewBag.listFeatures[1]</label>
                                        <p id="secondCode" style="display:none;">@ViewBag.listCodes[1]</p>
                                        <label class="element-animation3 btn btn-lg btn-common btn-block" onclick="showHide('thirdCode')"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>@ViewBag.listFeatures[2]</label>
                                        <p id="thirdCode" style="display:none;">@ViewBag.listCodes[2]</p>

                                        <label class="element-animation4 btn btn-lg btn-common btn-block" onclick="showHide('fourthCode')"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>@ViewBag.listFeatures[3]</label>
                                        <p id="fourthCode" style="display:none;">@ViewBag.listCodes[3]</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        @*</div>*@


                    </div>



                </div>
            </div>


        </div>

    }


    <div class="col-md-12" style="color:white">
        <a style="color:white" asp-action="YourReservations" asp-route-sortOrder="@ViewData["DateSortParm"]">Order by date</a>
    </div>

    @foreach (var p in Model.Reservations)
    {
        <partial style="min-width: 18rem; max-width:30.5%;" name="ReservationSummary" model="p" view-data='@new ViewDataDictionary(ViewData) { { "CurrentHourForPartial", currentHour }
                                             , {"CurrentDateForPartial", currentDate } }' />

    }



</div>
<div page-model="@Model.PagingInfo" page-action="YourReservations" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-common" class="btn-group pull-right m-1">

</div>


<script>
    function showHide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
    }
</script>
