@model MyBusinessViewModel

@inject UserManager<ApplicationUser> userManager

@{
    var chartData = ViewBag.chartData;
    string[][] jaggedArray3 =
  {
    new string[] {"Copper","8.94", "#de1010" },
    new string[] { "Silver", "10.49", "#de1010" },
    new string[] { "Gold", "21.45", "#de1010" }
};

    if (ViewBag.chart2Data == null)
    {
        ViewBag.chart2Data = new Dictionary<int, int>
        {
            {0,0 },
            {0,0 },
            {0,0 },
            {0,0 },
            {0,0 }
        };

    }
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center activity">

                <div style="padding-bottom: 28px"><span class="activity-done" style="color:white">Reservations at @ViewData["RestaurantName"] </span></div>
            </div>
            <div class="page-content page-container" id="page-content" style="margin:10px; padding:0">
                <div class="row container d-flex justify-content-center">
                    <div class="col-sm-6">
                        <div class="b-b b-theme nav-active-theme">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a style="color:darkorange" class="nav-link " id="today-tab" asp-action="MyBusiness" asp-route-filterParameter="Today" role="tab" aria-controls="home" aria-selected="false">Today</a></li>
                                <li class="nav-item"><a style="color:darkorange" class="nav-link" id="recent-tab" asp-action="MyBusiness" asp-route-sortOrder="Recent" role="tab" aria-controls="profile" aria-selected="false">Most recent</a></li>
                                <li class="nav-item"><a style="color:darkorange" class="nav-link" id="oldest-tab" asp-action="MyBusiness" asp-route-sortOrder="Oldest" role="tab" aria-controls="contact" aria-selected="false">The oldest</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>


            <div class="mt-3">
                <ul class="list list-inline">
                    @foreach (var reservation in Model.Reservations)
                    {
                        <li class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                @if (ViewData["CurrentHour"].Equals(reservation.HourComing))
                                {
                                    <i class="fa-solid fa-circle-check"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-circle fa-2x"></i>

                                }
                                <div class="ml-2 d-flex flex-row">

                                    @if (userManager.FindByIdAsync(reservation.UserId).Result.firstName != null)
                                    {
                                        <h6 class="m-3" style="font-size:20px">@userManager.FindByIdAsync(reservation.UserId).Result.firstName @userManager.FindByIdAsync(reservation.UserId).Result.lastName</h6>
                                    }
                                    else
                                    {
                                        <h6 class="m-3" style="font-size:20px">@userManager.FindByIdAsync(reservation.UserId).Result.Email </h6>

                                    }
                                    <div class="d-flex flex-row mt-1 text-black-50 date-time" style="font-size:20px">
                                        <div class="m-3"><i class="fa-solid fa-calendar-days"></i><span class="ml-2">@reservation.Date.ToShortDateString()</span></div>
                                        <div class="m-3"><i class="fa-solid fa-clock"></i><span class="ml-2">@reservation.HourComing:00</span></div>
                                        <div class="m-3"><i class="fa-solid fa-person"></i><span class="ml-2">@reservation.NrPers</span></div>
                                    </div>
                                </div>
                            </div>

                        </li>
                    }



                </ul>
                <div page-model="@Model.PagingInfo" page-action="MyBusiness" page-classes-enabled="true"
                     page-class="btn" page-class-normal="btn-outline-dark"
                     page-class-selected="btn-common" class="btn-group pull-right m-1">

                </div>

            </div>
        </div>
        <div class="col-md-4">

            <div style="color:white" class="widget recent">
                <h5 class="widget-title">@ViewData["RestaurantName"] details</h5>
                <p style="color:white">You can modify the data by clicking the Edit button.</p>
                <ul class="posts-list">
                    <li>

                        <div class="widget-content" style="color:white">
                            <a><b>Capacity: </b></a>
                            <span>@ViewData["RestaurantCapacity"]</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <div class="widget-content" style="color:white">
                            <a><b>Program: </b></a>
                            <span>@ViewData["RestaurantOpen"] - @ViewData["RestaurantClose"]</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li>
                        <div class="widget-content" style="color:white">
                            <a><b>Description: </b></a>
                            <span>@ViewData["RestaurantDesc"] </span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <a class="btn btn-common" asp-action="EditRestaurant" asp-controller="Home" asp-route-id="@ViewData["RestaurantID"]">Edit</a>
                        <p style="color:white">If you edit the details your restaurant won't be visible until an admin accept the changes.</p>

                    </li>
                    <li>

                        <div style="background-color:whitesmoke; padding:3px; justify-content:center ">
                            <h4 style="color:black; text-align:center">STATISTICS</h4>
                            <div class="container d-flex">
                                <div class="row">
                                    <p>
                                        <a class="btn btn-common" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fa-solid fa-chart-line fa-3x"></i></a>
                                        <button class="btn btn-common" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"><i class="fa-solid fa-chart-bar fa-3x"></i></button>
                                        <button class="btn btn-common" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3"><i class="fa-solid fa-chart-column fa-3x"></i></button>
                                    </p>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                                <div class="card card-body">
                                                    <div id="chart_div"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                                                <div class="card card-body">
                                                    <div id="barchart_div"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="collapse multi-collapse" id="multiCollapseExample3">
                                                <div class="card card-body">
                                                    <div id="chart_3"></div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li>

                     

                    </li>
                  

                </ul>


            </div>
        </div>
    </div>
    <div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Reservations');

        data = google.visualization.arrayToDataTable([
            ['Name', 'Reservations', { role: "style" }],
            ['Jan', @chartData[0], "#993344"],
            ['Feb', @chartData[1], "#993344"],
            ['Mar', @chartData[2], "#993344"],
            ['Apr', @chartData[3], "#993344"],
            ['May', @chartData[4], "#993344"],
            ['Jun', @chartData[5], "#993344"],
            ['Jul', @chartData[6], "#993344"],
            ['Aug', @chartData[7], "#993344"],
            ['Sep', @chartData[8], "#993344"],
            ['Oct', @chartData[9], "#993344"],
            ['Nov', @chartData[10], "#993344"],
            ['Dec', @chartData[11], "#993344"],
        ]);

        var options = {
            title: "Your business evolution",
            chartArea: { width: '90%' },
            vAxis: {
                title: 'Popularity'
            },
            colors: ['#993344']
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }



    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawBasic2);

    function drawBasic2() {
        var color = "#993344";
        var data = google.visualization.arrayToDataTable([
            ['Element', "Number of people", { role: "style" }],
            @ViewBag.chart2Data
        ]);

        var options = {
            title: "Today's statistics for your business",
            chartArea: { width: '90%' },
            hAxis: {
                title: 'Guests no.',
                minValue: 0
            },
            vAxis: {
                title: "Today\'s hours"
            },
            colors: ['#993344']
        };

        var chart = new google.visualization.BarChart(document.getElementById('barchart_div'));

        chart.draw(data, options);
    }


    google.charts.load("current", { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawBasic3);

    function drawBasic3() {
        var color = "#993344";
        var Monday = 'Monday';
        var Tuesday = 'Tuesday';
        var Wednesday = 'Wednesday';
        var Thursday = 'Thursday';
        var Friday = 'Friday';
        var Saturday = 'Saturday';
        var Sunday = 'Sunday';
        var data = google.visualization.arrayToDataTable([
            ['Element', "Guests", { role: "style" }],
            @ViewBag.chart3Data
        ]);

        var options = {
            title: "Your busy days",
            chartArea: { width: '90%' },
            hAxis: {
                title: 'Days'
            },
            vAxis: {
                title: 'Guests no.'
            },
            colors: ['#993344']
        };

        var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_3'));

        chart2.draw(data, options);
    }

</script>